.calculatorContainer[b-ov1nbm78i9] {
    width: 300px;
    margin: 50px auto;
    font-family: sans-serif;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background: #f9f9f9;
}

h3[b-ov1nbm78i9] {
    text-align: center;
}

.displayScreen[b-ov1nbm78i9] {
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 24px;
    margin-bottom: 10px;
}

.buttonsGrid[b-ov1nbm78i9] {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button[b-ov1nbm78i9] {
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ddd;
}

button:active[b-ov1nbm78i9] {
    background: #eee;
}

.opBtn[b-ov1nbm78i9] {
    background: orange;
    color: white;
    border: none;
}

.clearBtn[b-ov1nbm78i9] {
    background: red;
    color: white;
    border: none;
}

.equalBtn[b-ov1nbm78i9] {
    background: green;
    color: white;
    border: none;
}